<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Contact</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="mx-5 modal-body">
				<div class="my-4 mx-4">
					<h1 class="mb-0 h6">Adresse Electronique</h1>
					<hr class="mb-2 mt-0 d-inline-block" style="width: 64px;">
					<ul class="list-unstyled">
						<li>
							<a class="text-decoration-none" href="{{path('app_contact')}}">
								<i class="far fa-envelope"></i>
								&nbsp;Envoyer un message
							</a>
						</li>
						<li>
							<a class="text-decoration-none" href="tel:{{website_contact_phone}}">
								<i class="fas fa-phone"></i>
								&nbsp;+221 33 825 70 02
							</a>
						</li>
					</ul>
				</div>
				<div class="my-4 mx-4">
					<h1 class="mb-0 h6">Support Technique</h1>
					<hr class="mb-2 mt-0 d-inline-block" style="width: 64px;">
					<ul class="list-unstyled">
						<li>
							<a class="text-decoration-none" href="mailto:{{website_contact_help}}">
								<i class="far fa-envelope"></i>
								&nbsp;{{ website_contact_help }}
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->
