<!-- Start Copyright -->
<div class="container footer-copyright text-center py-3">
	<p class="text-muted">
		<small>
			&copy;
			{{ website_short_name ~ ' 2021 - ' ~ 'now'|date('Y') }}
			&middot; Tous droits réservés.
			<br>
			<a class="h6" href="{{relative_path('https://www.ecolespiesinstitutions.org/')}}" target="_blank" rel="noopener noreferrer">
				Ecoles Pies de l’Afrique de l’Ouest Association Education Solidaire
			</a>

			<br>
			NINEA : 002457168 3V9 Autorisation par arrêté du Ministère de l’Intérieur et de l’administration territoriale (Sénégal) N° 004614/MINT/DAGAT/DELAS du 15 Juillet 2002.
			<br>
			SICAP Dieuppeul 1, villa n°2141. BP : 10365 Dakar Liberté

			<div class="jopi">
				Conçu avec
				<span class="text-danger">&hearts;</span>
				par
				<a href=" {{relative_path('https://joepierre.carrd.co')}} " target="_blanck">JoePierre</a>
			</div>
		</small>
	</p>
</div>
<!-- End Copyright -->
