{% extends 'base.html.twig' %}

{% block title "Modifier mon compte utilisateur" %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h1 class="my-4 h4 text-center">Modification de mot de passe</h1>

				{{form_start(form)}}
				{{form_widget(form)}}
				<button type="submit" class="btn btn-primary btn-lg btn-block mt-3" formnovalidate>Modifier mon mot de passe</button>
				{{form_end(form)}}
			</div>
		</div>
	</section>
{% endblock %}
