/*****
fonts:
  - 'Rubik', sans-serif;
  - 'Montserrat', sans-serif;
**** */

$primary-font: "Montserrat";
$secondary-font: "Rubik";

/*****
colors
**** */
$c-white: #ffffff;
$c-black: #000000;
$c-grey: #aeaeae;
$c-light-grey: #fafafa;
$c-dark-blue: #0072bc;
$c-dusky-blue: #005480;
$c-chesnut: #b64437;
$c-dark-chesnut: #a71606;
/********* */
$c-twitter: #00aced;
$c-facebook: #3b5998;
$c-instagram: #e1306c;
$c-linkedin: #0077b5;
$c-youtube: #ff0000;

/********* */
$c-green: #009c3d;
$c-red: #b1000d;
$c-yellow: #f1c232;
$c-light-blue: #2abaea;
