<form method="post" action="{{ path('app_delete_course', {'id': course.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce cours ? Cette action est irreversible');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
	<button class="btn btn-outline-danger">Supprimer</button>
</form>
