{% extends 'base.html.twig' %}

{% block title "A propos | "~website_short_name %}

{% block body %}
	<section class="mb-5 container" align="justify">
		<div>
			<h1 class="my-4 h3">A propos</h1>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’accès à l’éducation constitue une préoccupation majeure des politiques publiques, tant aux échelles nationales qu’internationales. 
				Depuis plus de 30 ans dans le monde on s’intéresse à l’utilisation des outils numériques comme dans l’enseignement, à l’intégration des technologies de l’information et de la communication dans l’éducation. Les responsables de systèmes éducatifs ont compris l’enjeu essentiel que ceci représente. Les choses évoluent plutôt lentement,  le numérique n’est pas vraiment intégré à l’éducation, l’école n’a pas connu un changement drastique et bien des enseignants restant distants face au numérique.
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Dans un contexte de moyens limités, les Etats africains consacrent à l’éducation une part de leur PIB significativement supérieure au reste du monde, permettant ainsi une progression des taux de scolarisation.  
				Ainsi, le paysage éducatif sénégalais est l’un des plus actifs et productifs de Afrique de l’Ouest avec un taux de scolarisation estimé à 71,1 % en 2014. Cependant, on a constaté une baisse notoire aussi bien de la qualité que de la quantité, à peine 1% arrive jusqu’au niveau supérieur.
			</p>

			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En une quinzaine d’années, grâce au mobile, le continent africain est passé d’un très faible équipement en téléphonie à une forme de banalisation.
				Le numérique est devenu partie intégrante de nos vies, il représentera plus de 10% du PIB du Sénégal à l’horizon 2025. 
				Le Numérique au service de l’éducation qui est la base de tout développement.
				Une opportunité pour développer des approches pédagogiques centrées sur les apprenants. Capacités à transmettre, à produire, à développer des activités, à évaluer ou encore à produire des données de pilotage des systèmes éducatifs. Le numérique investit progressivement tous les domaines de l’éducation, à la recherche d’une intégration aboutie.
			</p>

			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cette plateforme web éducative se positionne en carrefour d’implication, d’intégration des acteurs de l’éducation et de la formation au Sénégal et en Afrique de l’Ouest.
			</p>

		</div>

		<hr>
		<div>
			<h1 class="mt-4 h3 subtittle">
				Les parties concernées
			</h1>

			Les enseignants :
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La plateforme Web des Ecoles Pies se positionne en bréviaire pour tous les enseignants en mettant à leur disposition les différents curricula de l’Etat, les guides pratiques, les examens, concours et leurs corrigés ainsi que quelques bonnes pratiques. Un appui pédagogique avant pendant et après les cours, le référentiel des enseignants en matière d’éducation.
			</p>

			Les élèves :
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quand les élèves arrivent à l'école, ils ont déjà des idées, des notions et des façons de raisonner. Ces conceptions sont parfois compatibles, parfois incompatibles avec les paradigmes qu’ils trouvent à l’école. Les statistiques montrent que les millennials (1981-1996) et les post millennials (1997-Présent) sont majoritairement présents dans le monde numérique et sont très actifs.
			</p>

			Les parents :
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Longtemps considérés comme acteurs passifs dans l’éducation, les parents dans le contexte de la plateforme Web Pédagogique occupent un rôle non négligeable avec à la clé un espace de suivi et de contrôle.
			</p>
		</div>

		<div class="my-5 p-2"></div>
		<hr>
		<div class="mt-4">
			<h1 class="mt-4 h3 subtittle">
				Les objectifs
			</h1>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le web pédagogique des Ecoles Pies a pour objectif général :
				<br>
				contribuer au développement de l'éducation des enfants et des jeunes dans la perspective de la réalisation des objectifs de développement des Nations Unies. La démocratisation de la connaissance, l’Ecole pour tous. 
				A travers des objectifs spécifiques qui se déclinent ainsi :
				<ul>
					<li>
						Créer une école virtuelle à l’échelle ouest-africaine.
					</li>
					<li>
						Devenir l’outil des acteurs éducatifs, en mettant à la disposition de ces derniers : Les différents curricula, les bonnes pratiques, les guides pédagogiques, les Phares ainsi que les examens concours et leurs corrigés.
					</li>
					<li>
						Actualité du monde éducatif, être le carrefour d’information dans l’éducation et le numérique.
					</li>
				</ul>
				Innovation : plaidoyer pour l’innovation pédagogique dans l’éducation.
				Création de capsules pédagogiques faits par et pour les élèves.

			</p>
		</div>

		<div class="my-5 p-4"></div>
	</section>
{% endblock %}
