{% extends 'base.html.twig' %}

{% block title "Contact | "~website_short_name %}

{% block body %}
	<section class="my-5 container">
		<h1 class="text-center">Contact</h1>
	</section>
{% endblock %}
