{% extends 'base.html.twig' %}

{% block title "Contact | "~website_short_name %}

{% block body %}
	<section class="my-5 container">
		<h1 class="h2 text-center">Laissez nous un message 📩 </h1>

		<div class="mt-4">
			{{ form_start(form)}}
			{{ form_widget(form)}}

			<button class="btn btn-primary btn-lg btn-block" type="submit">Envoyer</button>
			{{ form_end(form)}}
		</div>
	</section>
{% endblock %}